.navbar-text-default {      
    font-family: "Rooster";
    font-size: 1.5rem !important;
    letter-spacing: 0.3rem;
    /*color: #ee7c19 !important;*/
    
    --x-offset: -0.05em;
    --y-offset: 0.05em;
    --stroke: 0.03em;
    --background-color: rgb(156, 51, 9);
    --stroke-color: rgb(66, 56, 33);
    
    text-shadow: 
        
        var(--x-offset)
        var(--y-offset)
        0px
        var(--background-color), 
        
        calc( var(--x-offset) - var(--stroke) )
        calc( var(--y-offset) + var(--stroke) )
        0px
        var(--stroke-color);
    
    }

    @supports ( text-shadow: 1px 1px 1px 1px black ) {
    .navbar-text-default {
        text-shadow:
        
        var(--x-offset)
        var(--y-offset)
        0px
        0px
        var(--background-color), 
        
        var(--x-offset) 
        var(--y-offset)
        var(--stroke)
        0px
        var(--stroke-color);
        
    }
    }

@media (min-width: 992px) {
    .navbar-nav{
        margin-left: 30px;
        padding-top: 4px;
    }
}
    