#links-col-div{
   display: flex;
   height: 40%;

   align-items: center;
}

.link-content {
    font-family: helvetica;
    max-width: 1024px;
    width: 100%;
    padding: 0 0;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 
 @media screen and (max-width: 767px) {
   .link-content {
      flex-direction: column;
   }
 }
 
 .link-card {
   font-family: "Rooster";
    width: 100%;
    max-width: 300px;
    min-width: 200px;
    height: 250px;
    //background-color: #292929;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.24);
    font-size: 32px;   
    transition: all 0.3s ease;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    transition: all 0.3s ease;

    background-color: rgba(0, 0, 0, 0.4);
	 backdrop-filter: blur(5px);
 }

 .link-card:hover{
   background-color: rgba(0, 0, 0, 0.75);
 }
 
 .link-icon {
    margin: 0 auto;
    width: 100%;
    height: 80px;
    max-width:80px;
    background: linear-gradient(90deg, #FF7E7E 0%, #ee7c19 40%, rgba(0, 0, 0, 0.28) 60%);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    transition: all 0.8s ease;
    background-position: 0px;
    background-size: 200px;
 }
 
 .material-icons.md-18 { font-size: 18px; }
 .material-icons.md-24 { font-size: 24px; }
 .material-icons.md-36 { font-size: 36px; }
 .material-icons.md-48 { font-size: 48px; }
 
 .link-card .link-title {
    width: 100%;
    margin: 0;
    text-align: center;
    margin-top: 30px;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 4px;

    font-size: 1.5rem;
 }

 .link-card .link-title {            
   --x-offset: -0.0625em;
   --y-offset: 0.0625em;
   --stroke: 0.05em;
   --background-color: rgb(156, 51, 9);
   --stroke-color: rgb(66, 56, 33);
   
   text-shadow: 
     
     var(--x-offset)
     var(--y-offset)
     0px
     var(--background-color), 
     
     calc( var(--x-offset) - var(--stroke) )
     calc( var(--y-offset) + var(--stroke) )
     0px
     var(--stroke-color);
   
 }

 @supports ( text-shadow: 1px 1px 1px 1px black ) {
   .link-card .link-title {
     text-shadow:
       
       var(--x-offset)
       var(--y-offset)
       0px
       0px
       var(--background-color), 
       
       var(--x-offset) 
       var(--y-offset)
       var(--stroke)
       0px
       var(--stroke-color);
     
   }
 }
 
 .link-card .link-text {
    width: 80%;
    margin: 0 auto;
    font-size: 1rem;
    text-align: center;
    margin-top: 20px;
    color: white;
    font-weight: 200;
    letter-spacing: 2px;
    opacity: 0;
    max-height:0;
    transition: all 0.3s ease;
 }
 
 .link-card:hover {
    height: 270px;
 }
 
 .link-card:hover .link-info {
    height: 90%;
 }
 
 .link-card:hover .link-text {
    transition: all 0.3s ease;
    opacity: 1;
    max-height:40px;
 }
 
 .link-card:hover .link-icon {
    background-position: -120px;
    transition: all 0.3s ease;
 }
 
 .link-card:hover .link-icon i {
    background: #ee7c19 ;
    -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
    opacity: 1;
    transition: all 0.3s ease;
 }

 #entrance-description{
    color: white;
    text-align: center;
    font-family: "Rooster";
    margin-top: 24px;
    padding-bottom: 48px;
}

#entrance-description-div{
   text-align: center;

   #entrance-description {
      
      line-height: 2.5rem;

       --x-offset: -0.0325em;
       --y-offset: 0.0325em;
       --stroke: 0.025em;
       --background-color: rgb(156, 51, 9);
       --stroke-color: rgb(66, 56, 33);
       
       text-shadow: 
         
         var(--x-offset)
         var(--y-offset)
         0px
         var(--background-color), 
         
         calc( var(--x-offset) - var(--stroke) )
         calc( var(--y-offset) + var(--stroke) )
         0px
         var(--stroke-color);
       
     }

     @supports ( text-shadow: 1px 1px 1px 1px black ) {
      #entrance-description {
         text-shadow:
           
           var(--x-offset)
           var(--y-offset)
           0px
           0px
           var(--background-color), 
           
           var(--x-offset) 
           var(--y-offset)
           var(--stroke)
           0px
           var(--stroke-color);
         
       }
     }
}