@media (min-width: 1535px) {
    #rarity .col-md-3{
        max-width: 20%;
    }
}

@media (max-width: 768px) {
    #rarity ul{
        display: block;
    }

    #rarity li{
        display: flex;
        justify-content: center;
        padding: 4px;
    }

    #rarity li a{
        width: 350px;
    }
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff !important;
    background-color: #ee7c19 !important;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link:hover {
    color: #fff !important;
}

.nav-pills .nav-link {
    color: #ee7c19 !important;
}

.nav-pills .nav-link:hover div{
    transform: scale(1.10);
    transition-duration: 0.5s;
}



.rainbowText {
    font-family:arial black;
    font-size:70px;
    background-image: 
      linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet); 
    -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;  
    animation: move 35s linear infinite;
  }
  
  @keyframes move {
      to {
          background-position: 4500vh;
      }
  }