@font-face {
  font-family: "handwriting";
  src: local("handwriting"), url(../scss/fonts/handwriting.ttf) format("truetype");
}

@font-face {
  font-family: "handwriting-bold";
  src: local("handwriting-bold"), url(../scss/fonts/handwriting-bold.ttf) format("truetype");
}

@font-face {
  font-family: "Jellee";
  src: local("Jellee"), url(../scss/fonts/Jellee.otf) format("truetype");
}

@font-face {
  font-family: "Komika";
  src: local("Komika"), url(../scss/fonts/Komika.ttf) format("truetype");
}

#team{
  .team-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .team-container .box {
    position: relative;
    width: 18rem;
    height: 18rem;
    margin: 4rem;
    margin-bottom: 6rem;
  
  }
  
  .team-container .box .team-content {
    transform: translate(1rem, 3.2rem);
    border: 2px solid rgb(34, 34, 34);
  }
  
  .imgBox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    transition: all 0.5s ease-in-out;
  }
  
  .imgBox img {
    width: 18rem;
    height: 18rem;
    object-fit: cover;
    resize: both;
  }
  
  .team-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 103%;
    height: 110%;
    padding: 1rem;
    display: flex;
    justify-content: center;
    background-color: #fff;
    z-index: 1;
    align-items: flex-end;
    text-align: center;
    transition: 0.5s ease-in-out;

    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  
  .team-content h2 {
    display: block;
    font-size: 1.4rem;
    color: #111;
    font-weight: 500;
    margin-bottom: -4px;

    z-index: -1 !important; 
  }

  .team-content span {
    font-size: 1rem;
    font-weight: 300;
    border-top: 1px solid #111;
  }
  
  .team-container .box:nth-child(1) {
    .team-content{
      background: #111;
      border: 4px solid #00bd7ec5;

      overflow: hidden;
    }

    .team-content h2 code{
      color: #00bd7e ;
    }
    
    .team-content span {
      color: #00bd7e ;
      font-size: 1rem;
      font-weight: 300;
      border-top: 1px solid #00bd7ec5;
    }

    flyingNumbers{
      position:absolute;
      width:100%;
      height: 100%;
      z-index:0;
      overflow:hidden;
      top:0;
      left:0;
    }

    .flyingNumber code{
      color: #00bd7ec5;
    }

    .flyingNumber{

      position: absolute;
      bottom:-100px;
      width:40px;
      height: 40px;
      border-radius:50%;
      opacity:0.5;
      animation: riseNumbers 10s infinite ease-in;
    }
    .flyingNumber:nth-child(1){
      width:40px;
      height:40px;
      left:10%;
      animation-duration:3.5s;
    }
    .flyingNumber:nth-child(2){
      width:20px;
      height:20px;
      left:20%;
      animation-duration:3.5s;
      animation-delay:1s;
    }
    .flyingNumber:nth-child(3){
      width:50px;
      height:50px;
      left:35%;
      animation-duration:3.5s;
      animation-delay:2s;
    }
    .flyingNumber:nth-child(4){
      width:80px;
      height:80px;
      left:50%;
      animation-duration:3.5s;
      animation-delay:0s;
    }
    .flyingNumber:nth-child(5){
      width:35px;
      height:35px;
      left:55%;
      animation-duration:3.5s;
      animation-delay:1s;
    }
    .flyingNumber:nth-child(6){
      width:45px;
      height:45px;
      left:65%;
      animation-duration:3.5s;
      animation-delay:3s;
    }
    .flyingNumber:nth-child(7){
      width:90px;
      height:90px;
      left:70%;
      animation-duration:3.5s;
      animation-delay:2s;
    }
    .flyingNumber:nth-child(8){
      width:25px;
      height:25px;
      left:80%;
      animation-duration:3.5s;
      animation-delay:2s;
    }
    .flyingNumber:nth-child(9){
      width:15px;
      height:15px;
      left:70%;
      animation-duration:3.5s;
      animation-delay:1s;
    }
    .flyingNumber:nth-child(10){
      width:90px;
      height:90px;
      left:25%;
      animation-duration:3.5s;
      animation-delay:4s;
    }
    @keyframes riseNumbers{
      0%{
        bottom:-100px;
      }
      100%{
        bottom:1080px;
      }
    }
  }

  .team-container .box:nth-child(2) {

    .team-content{
      background:#6699CC;
      border: 4px solid #123c70;
      overflow: hidden;

      font-family: "handwriting-bold";
      font-weight: bold;
    }

    .team-content h2{
      margin-bottom: -12px;
      font-size: 1.5rem;

      color: #123c70;
    }

    .team-content span {
      border-top: 1px solid #2F66A9;
    }

    bubbles{
      position:absolute;
      width:100%;
      height: 100%;
      z-index:0;
      overflow:hidden;
      top:0;
      left:0;
    }
    .bubble{
      position: absolute;
      bottom:-100px;
      width:40px;
      height: 40px;
      background:#2F66A9;
      border-radius:50%;
      opacity:0.5;
      animation: rise 10s infinite ease-in;
    }
    .bubble:nth-child(1){
      width:40px;
      height:40px;
      left:10%;
      animation-duration:8s;
    }
    .bubble:nth-child(2){
      width:20px;
      height:20px;
      left:20%;
      animation-duration:5s;
      animation-delay:1s;
    }
    .bubble:nth-child(3){
      width:50px;
      height:50px;
      left:35%;
      animation-duration:7s;
      animation-delay:2s;
    }
    .bubble:nth-child(4){
      width:80px;
      height:80px;
      left:50%;
      animation-duration:11s;
      animation-delay:0s;
    }
    .bubble:nth-child(5){
      width:35px;
      height:35px;
      left:55%;
      animation-duration:6s;
      animation-delay:1s;
    }
    .bubble:nth-child(6){
      width:45px;
      height:45px;
      left:65%;
      animation-duration:8s;
      animation-delay:3s;
    }
    .bubble:nth-child(7){
      width:90px;
      height:90px;
      left:70%;
      animation-duration:12s;
      animation-delay:2s;
    }
    .bubble:nth-child(8){
      width:25px;
      height:25px;
      left:80%;
      animation-duration:6s;
      animation-delay:2s;
    }
    .bubble:nth-child(9){
      width:15px;
      height:15px;
      left:70%;
      animation-duration:5s;
      animation-delay:1s;
    }
    .bubble:nth-child(10){
      width:90px;
      height:90px;
      left:25%;
      animation-duration:10s;
      animation-delay:4s;
    }
    @keyframes rise{
      0%{
        bottom:-100px;
        transform:translateX(0);
      }
      50%{
        transform:translate(100px);
      }
      100%{
        bottom:1080px;
        transform:translateX(-200px);
      }
    }
  }

  .team-container .box:nth-child(3) {
    .team-content{
      background: #FF7F50;
      border: 4px solid #FF4500;
      font-family: "Jellee";

      overflow: hidden;
    }

    
    .team-content span {
      color: #111 ;
      font-size: 1rem;
      font-weight: 300;
      border-top: 1px solid #111;
    }

    flyingDollars{
      position:absolute;
      width:100%;
      height: 100%;
      z-index:0;
      overflow:hidden;
      top:0;
      left:0;
    }
    .flyingDollar{
      position: absolute;
      bottom:-100px;
      width:40px;
      height: 40px;
      border-radius:50%;
      animation: riseDollars 10s infinite ease-in;
    }
    .flyingDollar:nth-child(1){
      width:40px;
      height:40px;
      left:10%;
      animation-duration:8s;
    }
    .flyingDollar:nth-child(2){
      width:20px;
      height:20px;
      left:10%;
      animation-duration:5s;
      animation-delay:1s;
    }
    .flyingDollar:nth-child(3){
      width:50px;
      height:50px;
      left:-15%;
      animation-duration:7s;
      animation-delay:2s;
    }
    .flyingDollar:nth-child(4){
      width:80px;
      height:80px;
      left:50%;
      animation-duration:11s;
      animation-delay:0s;
    }
    .flyingDollar:nth-child(5){
      width:35px;
      height:35px;
      left:55%;
      animation-duration:6s;
      animation-delay:1s;
    }
    .flyingDollar:nth-child(6){
      width:45px;
      height:45px;
      left:65%;
      animation-duration:8s;
      animation-delay:3s;
    }
    .flyingDollar:nth-child(7){
      width:90px;
      height:90px;
      left:70%;
      animation-duration:12s;
      animation-delay:2s;
    }
    .flyingDollar:nth-child(8){
      width:25px;
      height:25px;
      left:80%;
      animation-duration:6s;
      animation-delay:2s;
    }
    .flyingDollar:nth-child(9){
      width:15px;
      height:15px;
      left:70%;
      animation-duration:5s;
      animation-delay:1s;
    }
    .flyingDollar:nth-child(10){
      width:90px;
      height:90px;
      left:5%;
      animation-duration:10s;
      animation-delay:4s;
    }
    @keyframes riseDollars{
      0%{
        bottom:-100px;
        transform:translateX(0);
      }
      50%{
        transform:translate(100px);
      }
      100%{
        bottom:1080px;
        transform:translateX(200px);
      }
    }
  }

  .team-container .box:nth-child(4) {

    .team-content{
      overflow: hidden;

      font-family: "Komika";
      font-weight: lighter;
    }

    flyingCharts{
      position:absolute;
      width:100%;
      height: 100%;
      z-index:0;
      overflow:hidden;
      top:0;
      left:0;
    }
    .flyingChart{
      position: absolute;
      bottom:-100px;
      width:40px;
      height: 40px;
      border-radius:50%;
      animation: riseCharts 10s infinite ease-in;
    }
    .flyingChart:nth-child(1){
      width:40px;
      height:40px;
      left:10%;
      animation-duration:8s;
    }
    .flyingChart:nth-child(2){
      width:20px;
      height:20px;
      left:10%;
      animation-duration:5s;
      animation-delay:1s;
    }
    .flyingChart:nth-child(3){
      width:50px;
      height:50px;
      left:-15%;
      animation-duration:7s;
      animation-delay:2s;
    }
    .flyingChart:nth-child(4){
      width:80px;
      height:80px;
      left:50%;
      animation-duration:11s;
      animation-delay:0s;
    }
    .flyingChart:nth-child(5){
      width:35px;
      height:35px;
      left:55%;
      animation-duration:6s;
      animation-delay:1s;
    }
    .flyingChart:nth-child(6){
      width:45px;
      height:45px;
      left:65%;
      animation-duration:8s;
      animation-delay:3s;
    }
    .flyingChart:nth-child(7){
      width:90px;
      height:90px;
      left:70%;
      animation-duration:12s;
      animation-delay:2s;
    }
    .flyingChart:nth-child(8){
      width:25px;
      height:25px;
      left:80%;
      animation-duration:6s;
      animation-delay:2s;
    }
    .flyingChart:nth-child(9){
      width:15px;
      height:15px;
      left:70%;
      animation-duration:5s;
      animation-delay:1s;
    }
    .flyingChart:nth-child(10){
      width:90px;
      height:90px;
      left:5%;
      animation-duration:10s;
      animation-delay:4s;
    }
    @keyframes riseCharts{
      0%{
        bottom:-100px;
        transform:translateX(0);
      }
      50%{
        transform:translate(100px);
      }
      100%{
        bottom:1080px;
        transform:translateX(200px);
      }
    }
  }
}